* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right:20px;
}

body {
    background-image: url(images/stucco/stucco.png);
}

h1 {
    background: none;
    font-size:45px;
    color:black;
}

h2{
    padding-top:10px;
}


header {
    background-color:black;
}

.topnav {
    overflow:hidden;
    background-color:black;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color:grey;
  color: black;
}

a:link {
    text-decoration: none;
    color:grey;
}
.nav {
    background-color:whitesmoke;
    height:50px;
    text-align:left;
    padding: 3px;
    border: solid 1px lightgrey;
}

.nav a:hover {
    background-color:black;
    color:white;
}


li {
    display:inline;
    padding:15px;
}

main {
    background:white;
    
}

#lebrun {
    height: 500px;
    float: left;
    padding-right: 20px;
    
}

#info {
    text-align:left;
    color: black;
    font-size:14px;
    padding-right:5px;
}

#price {
    color:red;
    font-size:14px;
    text-align: left;
}

#button1, #button2 {
    float:left;
    border:solid 1px gray;
    padding-right:30px;
    padding-left:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:bold;
}

}
.footer{
    background-color:black;
    color:black;
    clear:both;
    text-align: center;
}
