h1, h2, h3 {
    font-family:Tahoma, sans-serif;
    color:darksalmon;
    background-color:beige;
}

body {
    background-color:black;
}

nav {
    font-family:Verdana;
    color: skyblue;
    font-style: italic;
}

ul, li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}
