/* {
    font-family:verdana, sans-serif;
    font-size:100%;
    padding:0;
    margin:0;
}

body {
    background-image: url(images/icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.home header {background-color: red;
}

.bio header {background-color:antiquewhite;}

.blog header {background-color: darksalmon;}

.contact header {background-color:darkseagreen;}

.portfolio header {background-color:cornflowerblue;}


h1 a, h2, h3 {
    font-family:Georgia;
}

header {
    margin:25px 50px 45px 65px;
    border-top:5px dashed black;
    border-right:10px solid yellow;
    border-bottom:20px dotted pink;
    border-left:30px solid orange;
    padding:65px 45px 25px 5px;
}

nav {
    background-color:bisque;
    padding:25px;
}

nav a {color:magenta;
    text-decoration:none;
}

nav a:hover {
    color:green;
}

nav ul {
    list-style:none;
    padding:0;
    margin:0;
    border:0;
}

li {
    display:inline;
    background:yellow;
    padding:15px;
}

main {
    background:lightgreen;
}

footer nav {
    background:pink;
}

img {
    float:right;
}

footer {
    clear:both;
}
*/

#errors {
    color:red;
    font-weight:bold;
}