h1, h2 {
    font-family: "Roboto Slab", Tahoma;
    color:chocolate;
    background-color: cornsilk;
}

p {
    color:dimgray;
    font-family: sans-serif; 
}

ul {
    color: chocolate;
    font-family: "Roboto Slab"
}

div {
    color:dimgray;
    font-family: sans-serif;
}
