header, footer {
  color: white;
  background-color: #213643;
}
nav {
  background-color: #728B96;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

#reviews {
   border-bottom: solid 3pt #213643;
   color: #ed8030;
}
.first {
   color: #728B96;
   font-style: italic;
}
a:link {
    font-weight:bold;
    color:#47B3D7;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    color:#bb78ff;
}

a:active {
    color:red;
}