html, body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
    margin:0;
    height:100%;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: Lora, Roboto;
    font-size: 42px;
    text-align:center;
    text-transform: lowercase;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;

}


nav a:hover {
    background-color: #ddd;
    color: black;
}

header a:hover {
    color:white;
}

.home {
    background-image: url(images/portrait.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}


img {
    padding-right:20px;
}

p  {
    font-family: Lora, Roboto;
    color:black;
    text-align:center;
    letter-spacing: 1px;
    font-size:18px;
    padding:20px;
}

h2 {
    font-family: Lora, Roboto;
    color:black;
    text-align:center;
    letter-spacing: 1px;
    font-size:30px;
    opacity:0.8;
}

h3 {
    font-family:Lora, Roboto;
    font-size:25px;
    text-align:center;
    padding:50px;
}


.content {
    background-color:lightgrey;
    padding:50px;
    padding-top:10px;
    height:100%;
}

.contenthome {
    background-color:whitesmoke; 
    opacity:0.8;
    font-weight:500;
    padding:20px;
}


.footer {
    background-color: #333;
    padding: 10px;
    color:white;
}

nav ul {
    list-style:none;
    padding:0;
    margin:0;
    border:0;
}

li {
    display:inline;
    padding:15px;
}

.column img {
    margin-top:12px;
    width:100%;
    
}
#contactform {
    font-family:Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

#fullname, #message, #email {
    margin-top: 10px;
}

#button {
    background-color:white;
    margin:20px;
    font-size:16px;
    border: 2px solid gray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button:hover {
    background-color:lightgray;
}

#bio {
    width:400px;
    float:left;
}

#errors {
    color:red;
    font-weight:bold;
}
